/* Variables
/* ---------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i,800&display=swap");
:root {
  /* Colours */
  --color-primary: #dba321;
  --color-base: #131313;
  --color-border: #ddd;
  --color-bg: #f8f8f8;
  --color-transparent-bg: rgb(248, 248, 248, 0.6);
  --color-off-black: rgb(25, 25, 25, 0.7);
  /* Fonts */
  --font-sans-serif: "Muli", sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;
  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;
  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
  /* image paths */
  --header-image: url("../../../content/assets/darkSea.jpg");
  /* Specific Component Sizes */
  /* Caution: When changing these values, you must re-assess the LogoHero styles */
  --logo-header-size: 200px;
  --menu-margin-top: 50px;
  --menu-margin-bottom: 50px;
  --signature-header-size: 45px;
  /* z-indexes */
  --bg-index: -1;
}

/* classNames */

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
