@import "../../utils/css/vars.css";
button {
  color: transparent;
  box-shadow: none;
}

button:hover {
  box-shadow: none;
}

.ham-nav-burger {
  display: block;
  margin-top: 50px;
  z-index: 2;
  cursor: pointer;
  margin-left: -52%;
}

.ham-hamburger-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60px;
  transition: all 0.4s ease-in-out;
}

.ham-hamburger-inner,
.ham-hamburger-inner::before,
.ham-hamburger-inner::after {
  width: 40px;
  height: 1px;
  background-color: var(--color-bg);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.ham-hamburger-inner::before,
.ham-hamburger-inner::after {
  content: "";
  position: absolute;
  left: 0px;
}

.ham-hamburger-inner::before {
  transform: translateY(-16px);
}

.ham-hamburger-inner::after {
  transform: translateY(16px);
}

/* ANIMATION */

.ham-hamburger-box.open .ham-hamburger-inner {
  transform: translateX(-30px);
  background: transparent;
}

.ham-hamburger-box.open .ham-hamburger-inner::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: var(--color-off-black);
}

.ham-hamburger-box.open .ham-hamburger-inner::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: var(--color-off-black);
}

@media (min-width: 851px) {
  .ham-nav-burger {
    display: none;
  }
}
