/* Site Navigation
/* ---------------------------------------------------------- */

.bg-img {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
}

.bg-img::after {
  content: "";
  background: url("../../../content/assets/darkSea.jpg");
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* .site-foot {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: translateY(-4vw);
  } */
