.mar-marquee {
  position: relative;
}

.mar-width-full {
  position: relative;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

.mar-text {
  font-size: 8px;
  width: 100%;
  color: var(--color-transparent-bg);
  font-family: var(--font-sans-serif);
  font-weight: 100;
  position: absolute;
  top: 80%;
  text-align: center;
}

.mar-text > p {
  display: none;
}

@media (min-width: 480px) {
  .mar-text {
    font-size: 16px;
  }
}

@media (min-width: 980px) {
  .mar-text {
    font-size: 22px;
  }

  .mar-text > p {
    display: block;
    font-size: 40px;
    margin: 10px 0 0 0;
  }
}

@media (min-width: 1280px) {
  .mar-text > p {
    font-size: 50px;
    margin: 20px 0 0 0;
  }
}
