@import "../../utils/css/vars.css";
/* Desktop Nav Menu
/* ---------------------------------------------------------- */

.h-site-head {
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.35rem;
}

.h-site-head-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 851px) {
  .h-site-head-container-home {
    justify-content: center;
  }
}

@media (min-width: 1098px) {
  .h-site-head-container-home {
    justify-content: flex-end;
  }
}

.h-solid-menu {
  background-color: rgb(25, 25, 25, 0.7);
  transition: background-color 1.5s ease 0s;
}

.h-site-head-open .h-solid-menu {
  background-color: transparent;
}

.h-site-head-container-home .h-site-head-right {
  margin-left: 0;
  margin-right: 5%;
}

.h-site-head-left {
  margin-right: 10rem;
  position: relative;
  justify-content: space-between;
  z-index: 100;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.h-nav {
  display: flex;
  margin: 0 0 0 -12px;
  padding: 0;
  list-style: none;
  background-color: aqua;
}

.h-site-head li {
  display: block;
  margin: 0;
  padding: 0;
}

.h-site-head-left .h-nav-home-link a,
.h-site-head-right .h-nav-home-link a {
  color: #fff;
}

.h-site-head-left a,
.h-site-head-right a {
  display: block;
  margin: 0;
  padding: 10px 12px;
  color: var(--color-base);
  font-weight: 600;
  opacity: 0.4;
}

.h-nav-current a,
.h-site-head a:hover {
  text-decoration: none;
  opacity: 1;
}

.h-site-head-right {
  margin-left: 10rem;
  position: relative;
  z-index: 100;
  flex-shrink: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.h-social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.h-mobile-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45px;
  height: 300px;
  width: 80vw;
  background-color: transparent;
}

@media (min-width: 475px) {
  .h-mobile-menu {
    width: 65vw;
  }
}

@media (min-width: 851px) {
  .h-mobile-menu {
    display: none;
  }
  .h-site-head-right {
    display: flex;
  }
}

.h-mobile-menu.open {
  background-color: #fff;
  animation: appear 0.8s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h-mobile-links {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.h-mobile-links > a {
  font-size: 2rem;
  color: #3b3b3b;
  font-family: var(--font-sans-serif);
  font-weight: var(--font-light);
}
