@import "../../utils/css/vars.css";
/* Desktop Nav Menu
/* ---------------------------------------------------------- */

.h-site-head {
  width: 100%;
  z-index: 1;
  font-size: 1.35rem;
}

.h-site-head-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 851px) {
  .h-site-head-container-home {
    justify-content: center;
  }
  .h-site-head {
    position: fixed;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1098px) {
  .h-site-head-container-home {
    justify-content: flex-end;
  }
  .h-site-head-right {
    margin-right: 5%;
  }
}

.h-site-head-container-home.fixed {
  background-color: var(--color-off-black);
  transition: background-color 1.5s ease 0s;
}

.h-site-head li {
  display: block;
  margin: 0;
  padding: 0;
}

.h-site-head-right a {
  display: block;
  margin: 0;
  padding: 10px 12px;
  color: var(--color-bg);
  font-weight: 600;
  opacity: 0.6;
}

.h-site-head-right .h-active,
.h-site-head a:hover {
  text-decoration: none;
  opacity: 1;
}

.h-site-head-right {
  z-index: 100;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.h-social-links {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.h-mobile-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45px;
  height: 300px;
  width: 70vw;
  background-color: transparent;
}

@media (min-width: 475px) {
  .h-mobile-menu {
    width: 58vw;
  }
}

@media (min-width: 851px) {
  .h-mobile-menu {
    display: none;
  }
  .h-site-head-right {
    display: flex;
  }
}

.h-mobile-menu.open {
  background-color: var(--color-bg);
  animation: appear 0.8s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h-mobile-links {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.h-mobile-links > a {
  font-size: 2rem;
  color: var(--color-off-black);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-light);
}

.h-mobile-links .h-active,
.h-mobile-links a:hover {
  font-weight: var(--font-bold);
}
