@import "../../utils/css/vars.css";
.header-img {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-img::after {
  content: "";
  background: var(--header-image);
  background-color: #fff;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: var(--bg-index);
}

/* Remove once we get correct image*/

.placeholder {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.placeholder::after {
  content: "";
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
