@import "../../utils/css/vars.css";
.logo-container {
  display: flex;
  /* If you change the --menu-margin-top, then the 90px must change accordingly */
  margin-top: calc(100vh / 2 - var(--logo-header-size) / 2 - 90px);
  justify-content: center;
}

@media (min-width: 980px) {
  .logo-container {
    margin-top: calc(100vh / 2 - var(--logo-header-size) / 2);
  }
}
